@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-markazi: "Markazi Text", serif;
  --font-dmsans: "DM Sans", sans-serif;

  /* 1 rem = 16px */
  --text-title: 2.125rem;
  --text-h1: 1.625rem;
  --text-sh1: 1.25rem;
  --text-p1: 0.875rem;
  --text-p2: 0.75rem;

  /* colors */
  --color-field-orange: #A35C38;
  --color-clay: #C7815F;
  --color-sand: #F1E2DB;
  --color-mist: #ECF1EA;
  --color-grass: #9BB38D;
  --color-pine: #6D8E5A;

  --color-field-black: #232222;
  --color-burnt-tree: #40241F;
  --color-tan-80: #756C6C;
  --color-tan-50: #DFD8D1;
  --color-tan-30: #EAE6E2;
  --color-tan-20: #F3F1EF;
  --color-tan-10: #F9F7F6;
  --color-cloud: #FBFBFB;

  /* shared variables */
  --header-height: 4rem;
}